/*
global styles for the app
*/

body, html {
  margin: 0;
  padding: 0;
  overflow-x: auto; /* Hide horizontal scrollbar */
}




/*
we define fonts here because its the main app style
*/
@font-face {
  font-family: 'Poppins'; 
  src: url('./assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  /* Add additional formats if needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway'; 
  src: url('./assets/fonts/Raleway/Raleway-Regular.ttf') format('truetype');
  /* Add additional formats if needed */
  font-weight: normal;
  font-style: normal;
}



